body{
  background-color:black;
  margin: 0;
  display:flex;
  align-items:center;
  justify-content: center;
  color: white;
  font-family: sans-serif;
  height:100vh;
}
.container{
  grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
  display:grid;
  grid-auto-rows:100px;
  justify-content: center;
  width:500px;
  padding:20px;
  border-radius:10px;
  grid-gap:10px;
  background-color:rgb(73, 73, 73);
}
.box{
  background-color:rgb(41, 55, 62);
  width:100px;
  border:1px solid black;
  height:100px;
  box-shadow:1px 1px 1000px white;
  border-radius:10px;
}